@media(prefers-color-scheme: dark) {}

@media(prefers-color-scheme: light) {}

.inicio-sesion-usuario {
    background-color: var(--red-Quick);
    border-radius: 1rem;
    color: var(--font-color-light);
}

.inicio-sesion-usuario-left {
    background-image: url("../../assets/images/inicio-sesion-usuario-image.jpg");
    background-size: cover;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
}

.inicio-sesion-usuario-right .inicio-sesion-usuario-custom-input {
    background-color: var(--red-Quick);
    border: none;
    border-bottom: 2px solid var(--font-color-light);
    outline: none;
    box-shadow: none;
    color: inherit;
    border-radius: 0px;
    transition: border-bottom 0.2 ease, border-radius 0.2 ease;
}

.inicio-sesion-usuario-custom-input:-webkit-autofill,
.inicio-sesion-usuario-custom-input:-webkit-autofill:hover,
.inicio-sesion-usuario-custom-input:-webkit-autofill:focus,
.inicio-sesion-usuario-custom-input:-webkit-autofill:active {

    box-shadow: 0 0 0 1000px var(--red-Quick) inset !important;
    -webkit-text-fill-color: var(--font-color-light) !important;
    caret-color: var(--font-color-light) !important;
    border-bottom: 2px solid var(--font-color-light) !important;
}

.inicio-sesion-usuario-right .inicio-sesion-usuario-custom-input:focus {
    background-color: rgba(156, 30, 42, 0.5);
    border: none;
    border-radius: 0.5rem;
    border-bottom: none;
    outline: none;
    box-shadow: none;
    color: inherit;
}

.inicio-sesion-usuario-right .inicio-sesion-usuario-register {
    border-top: 1px solid var(--font-color-dark);
}

.inicio-sesion-usuario-acceder-btn{
    background-color: var(--font-color-light);
    color: var(--red-Quick) !important;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.inicio-sesion-usuario-acceder-btn:hover {
    background-color: inherit;
    color: var(--font-color-light) !important;
    border: 2px solid var(--font-color-light);
}

.inicio-sesion-usuario-limpiar-btn {
    background-color: var(--font-color-red);
    color: var(--font-color-light);
    border-radius: 0.5rem;
    border: none;
    transition: background-color 0.2s ease, color 0.2s ease;
}